[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=prod
Group=www-data
WorkingDirectory=/home/prod/app
ExecStart=/home/prod/app/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          project_settings.wsgi:application

[Install]
WantedBy=multi-user.target
